body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffad21 ;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  }
  
  h1 {
    text-align: center;
    padding: 20px;
    display: inline-block;
  }

  img{
    width: 100px;
    height: 100px;
  }
  
  .btn {
    font-size: 18px;
    background-color: #ffad21;
    border-radius: 40px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    height: 30px;
  }
  
  .button-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* gap: 20px; */
    padding: 20px 100px;
    background-color: black;
    border-radius: 40px;
  }

  
  form {
    padding: 40px;
    margin-top: 40px;
  }
  
  .form-control {
    height: 40px;
  }
  
  input[type="submit"] {
    width: 100%;
  }
  
  input[type=search] {
    text-align: center;
    font-size: 18px;
  }
  
  .effect {
    border: 3px solid white;
    background-color: white;
    box-shadow:0 1px 2px #aaa;
    font-size: 16px;
    padding: 10px;
  }
  
  #result {
    padding: 40px;
  }

  .title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
    height: auto;
  }

  .enter-name-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 100px;
    background-color: black;
    border-radius: 40px;
    color: #ffad21;
  }

  .name-input{
    height: 50px;
    width: 350px;
    background-color:#ffad21;
    border-radius: 20px;
  }

  .navigation-buttons{
    display: flex;
    width: 350px;
    justify-content: space-between;
  }


  .name-buttons{
    font-size: 18px;
    background-color: #ffad21;
    border-radius: 40px;
    box-sizing: border-box;
    margin-bottom: 20px;
    height: 30px;
    width: 150px;
  }

  input::placeholder{
    font-size: 20px;
  }

  .picture {
    display: inline-block;
    margin-right: 50px;
  }

  .player{
    display: "flex";
  }

  .form-group {
    display: inline-block;
  }

  .avatar-menu {
    text-align: center;
  }
  
  .avatar {
    display: inline-block;
    margin: 10px;
  }
  
  .avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .avatar button {
    background-color: #ffad21    ;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    display: block;
    margin: 10px auto;
    border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  }

  